
html, body{
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, #155799, #159957);
}

.btn,
input {
    height: 35px;
    padding: 0 1em;
}

.color {
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.led-matrix {
    --size: 4;
    background-color: rgb(28, 28, 29);
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 1px;
    padding: 1px;    
    margin-left: auto;
    margin-right: auto;
}

.pixel {
    background-color: rgb(61, 61, 61);
}

button.toolbox-button {
    margin-bottom:4px;
}


button.toolbox-button i {
    width:16px;
}

li.theme-element {
    padding: 4px 8px 4px 8px;
    text-align: left;
}

li.theme-element input {   
    width: 16px;
    height: 16px;
    top: 0px;
    vertical-align: middle;
}

li.w3-bar {
    display: block !important;
}

td.property-label {
    vertical-align: middle;
    padding: 2px;
    font-weight: bold;
}

td.property-field {
    padding: 0px;
}

td.property-field input {
    height: 25px;
}

td.property-field input[type="color"] {
    padding:0px;
}

.w3-check {
    width: 16px;
    height: 16px;
    top: 4px;
}

label {
    vertical-align: middle;
} 